.about {
    padding: 4.6vw 4.6vw 0 4.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 0 2vw;
        line-height: 26px;

        h2 {
            margin-bottom: 24px;
        }
    }
}